<mat-card>
  <mat-card-content>
    <div class="container">

      <div class="row">
        <div class="col-sm ">
          <h3>Policy List</h3>
          <div *ngFor="let policy of policies">
              <p>
                <a mat-raised-button routerLink="policy-detail/{{ policy.id }}">{{ policy.serial_number }}</a>
                <button mat-icon-button routerLink="" (click)="deletePolicy(policy.id)">
                  <mat-icon aria-label="icon-button">highlight_off</mat-icon>
                </button>
              </p>
          </div>
        </div>
        <div class="col-sm">
          <h3>Add new policy here:</h3>
          <mat-form-field>
            <mat-select placeholder="Choose Risk Types" [formControl]="riskControl" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let risk of risksList" [value]="risk.id">
                {{ risk.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="riskControl.hasError('required')">Please Choose Risk Types</mat-error>
          </mat-form-field>
          <br>
          <button mat-stroked-button color="primary" type="submit" (click)="addPolicy()">{{ btnText }}</button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
