<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Risk Types Test</span>
    <a mat-flat-button routerLink="">Policies List</a>
    <a mat-flat-button routerLink="risks-list">Risk Types List</a>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
