<mat-card>
  <mat-card-content>
  <div class="container">
  <div class="row">
    <div class="col-sm">
      <div *ngFor="let field of fields">
        <span *ngIf="!field.field_type.enum">
          <span *ngIf="field.field_type.field_type==1">
            <mat-form-field>
              <input matInput
                     placeholder="{{ field.field_type.name }}"
                     type="number"
                     value="{{ field.field_value }}"
                     (change)="updateField(field.id, 1, $event)">
            </mat-form-field>
          </span>
          <span *ngIf="field.field_type.field_type==2">
            <mat-form-field>
              <input matInput
                     placeholder="{{ field.field_type.name }}"
                     type="text"
                     value="{{ field.field_value }}"
                     (change)="updateField(field.id, 2, $event)">
            </mat-form-field>
          </span>
          <span *ngIf="field.field_type.field_type==3">

              <mat-checkbox
                type = "checkbox"
                [checked]="field.field_value"
                (change)="updateField(field.id, 3, $event)">
                  {{ field.field_type.name }}
              </mat-checkbox>

          </span>
          <span *ngIf="field.field_type.field_type==4">
            <mat-form-field>
              <input matInput [matDatepicker]="picker"
                     value="{{ field.field_value }}"
                     placeholder="{{ field.field_type.name }}"
                     (dateChange)="updateField(field.id, 4, $event)">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </span>
        </span>
        <span *ngIf="(field.field_type.enum)">
          <mat-form-field>
            <mat-select placeholder="{{ field.field_type.name }}"
                        value="{{ field.field_value }}"
                        (selectionChange)="updateField(field.id, 5, $event)">
              <mat-option
                *ngFor="let value of (field.field_type.enum_values.split('\n'))"
                value="{{ value }}">
                {{ value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </span>
        <br><br>
      </div>
    </div>
  </div>
  </div>
  </mat-card-content>
</mat-card>
