<mat-card>
  <mat-card-content>
    <div class="container">
      <div class="row">
        <div class="col-sm ">
          <h3>
            Risk Type Fields
          </h3>
          <div *ngFor="let field of fields">
            <span *ngIf="!field.enum">
              <span *ngIf="field.field_type==1">
                <mat-form-field>
                  <input matInput
                         placeholder="{{ field.name }}"
                         type="number">
                </mat-form-field>
              </span>
              <span *ngIf="field.field_type==2">
                <mat-form-field>
                  <input matInput
                         placeholder="{{ field.name }}"
                         type="text">
                </mat-form-field>
              </span>
              <span *ngIf="field.field_type==3">
                <mat-checkbox
                  type = "checkbox">
                    {{ field.name }}
                </mat-checkbox>
              </span>
              <span *ngIf="field.field_type==4">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker"
                         placeholder="{{ field.name }}">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </span>
            </span>
            <span *ngIf="(field.enum)">
              <mat-form-field>
                <mat-select placeholder="{{ field.name }}">
                  <mat-option
                    *ngFor="let value of (field.enum_values.split('\n'))"
                    value="{{ value }}">
                    {{ value }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </span>
            <a mat-icon-button (click)="deleteField(field.id)">
              <mat-icon aria-label="icon-button">highlight_off</mat-icon>
            </a>
            <br><br>
          </div>
        </div>
        <div class="col-sm ">
          <h3>
            Add new field here:
          </h3>
          <mat-form-field>
            <input matInput
                   placeholder="Field Name"
                   type="text"
                   [(ngModel)]="addFieldName">
          </mat-form-field>
          <br><br>
          <mat-form-field>
            <mat-select placeholder="Choose Field Type" [(ngModel)]="addFieldTypeStr">
              <mat-option value="number">Number</mat-option>
              <mat-option value="text">Text</mat-option>
              <mat-option *ngIf="(!enumChecked)" value="checkbox">Checkbox</mat-option>
              <mat-option value=date>Date</mat-option>
            </mat-select>
          </mat-form-field>
          <br><br>
          <mat-checkbox
            type = "checkbox"
            [(ngModel)]="enumChecked"
            (change)="enumChange()">
              Enumerate
          </mat-checkbox>
          <br><br>
          <div *ngIf="(enumChecked && addFieldTypeStr!='checkbox')">
            <mat-form-field>
              <mat-select placeholder="Enumerate">
                <mat-option *ngFor="let value of enumList" value="{{ value }}">{{ value }}</mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <p>Add New Item Here:</p>
            <span *ngIf="addFieldTypeStr=='number'">
              <mat-form-field>
                <input matInput
                       [(ngModel)]="enumText"
                       placeholder="Number"
                       type="number">
              </mat-form-field>
            </span>
            <span *ngIf="addFieldTypeStr=='text'">
              <mat-form-field>
                <input matInput
                       [(ngModel)]="enumText"
                       placeholder="Text"
                       type="text">
              </mat-form-field>
            </span>
            <span *ngIf="addFieldTypeStr=='date'">
              <mat-form-field>
                <input matInput
                       [(ngModel)]="enumText"
                       [matDatepicker]="picker"
                       placeholder="Date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </span>
            <a mat-icon-button (click)="enumAdd()">
              <mat-icon aria-label="icon-button">add_box</mat-icon>
            </a>
            <br>
          </div>
          <button mat-stroked-button color="primary" type="submit" (click)="addField()">Add Field</button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
