<mat-card>
  <mat-card-content>
    <div class="container">
      <div class="row">
        <div class="col-sm ">
          <h3>
            Risk Types List
          </h3>
          <div *ngFor="let risk of risks">
            <p>
              <a mat-raised-button routerLink="/risks-detail/{{ risk.id }}">{{ risk.name }}</a>
               <button mat-icon-button routerLink="/risks-list" (click)="deleteRisk( risk.id )">
                <mat-icon aria-label="Example icon-button with a heart icon">highlight_off</mat-icon>
              </button>
            </p>
          </div>
        </div>
        <div class="col-sm ">
          <h3>Add new policy here:</h3>
          <mat-form-field>
            <input matInput placeholder="Risk Type Name" [(ngModel)]="riskName">
          </mat-form-field>
          <br>
          <button mat-stroked-button color="primary" type="submit" (click)="addRisk()">{{ btnText }}</button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
