{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Risks</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{% static 'styles.d6c48dd1de2f370bb3bc.css' %}"></head>
<body>
  <app-root></app-root>
<script type="text/javascript" src="{% static 'runtime.a66f828dca56eeb90e02.js' %}"></script>
<script type="text/javascript" src="{% static 'polyfills.7a0e6866a34e280f48e7.js' %}"></script>
<script type="text/javascript" src="{% static 'main.384e75ce690b0041423e.js' %}"></script></body>
</html>
